@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

@media screen and (width>=1000px) {
  body {
    width: 100%;
    height: 100vh;
    background-image: url("/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 34vw 100%;
    transition: 0.3s;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .bg-front-card {
    background-image: url("/images/bg-card-front.png");
    margin: 24px;
    float: left;
  }

  .bg-back-card {
    background-image: url("/images/bg-card-back.png");
    margin: 24px;
    float: right;
  }

  form {
    margin: 24px;
  }

  .card-image-desktop {
    margin: 24px;
  }
}

@media screen and (min-width: 375px) and (max-width: 999px) {
  body {
    height: 100vh;
    width: 100vw;
    background-image: url("/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    transition: 0.3s;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .card-image-desktop {
    margin: 12px;
    /* height: 400px; */
  }

  .bg-front-card {
    background-image: url("/images/bg-card-front.png");
    /* position: relative;
    top: 139px;
    z-index: 2; */
  }

  .bg-back-card {
    background-image: url("/images/bg-card-back.png");
    /* position: absolute;
    top: 17px;
    z-index: 1; */
  }

  form {
    margin: 12px;
  }
}

form {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  max-width: 450px;
  padding: 5px;
}

.card-image-desktop {
  max-width: 642px;
  padding: 5px;
}

.bg-front-card,
.bg-back-card {
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 447px;
  height: 245px;
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px 5px;
}

.bg-front-card img {
  position: relative;
  top: 25px;
  left: 25px;
}

.bg-front-card .card-number {
  position: relative;
  box-sizing: border-box;
  margin: 25px 25px;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-size: 1.55em;
}

.bg-front-card .cardholder-name {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  margin: 25px 25px;
}

.bg-front-card .cardholder-name p {
  font-size: 0.89em;
}

.bg-back-card p {
  display: inline;
  position: relative;
  top: 107px;
  left: 365px;
  font-size: 0.89em;
}

form label {
  display: block;
  color: hsl(278, 68%, 11%);
  margin: 5px;
  font-size: 0.78em;
}

form input::placeholder {
  color: hsl(279, 6%, 55%);
}

form input {
  color: hsl(278, 68%, 11%);
  outline: none;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
}

form input:focus {
  border: 1px solid;
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-image-slice: 1;
}

.leyend {
  font-size: 0.67em;
  margin: 5px;
}

.down {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: auto;
}

.exp-date,
.cvc {
  width: 50%;
}

.down div input {
  box-sizing: border-box;
}

.cvc input {
  width: 95%;
}
.exp-date input {
  max-width: 40%;
}

#cardholder-name,
#card-number {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  border: 0px;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  background-color: hsl(278, 68%, 11%);
  padding: 10px 15px;
  margin: 5px;
}

button:active {
  border: 0px;
  background: rgb(24, 115, 113);
}
