@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

body {
  background-image: url("/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 1080px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.card-image-desktop {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  width: 617px;
}

.bg-front-card,
.bg-back-card {
  margin: 24px;
}

.bg-front-card {
  float: left;
}

.bg-front-card img {
  position: relative;
  top: 25px;
  left: 25px;
}

.bg-front-card-inter {
  position: relative;
  bottom: -47px;
  width: auto;
  margin: 5px;
  padding: 20px;
}

.bg-front-card-inter .card-number {
  margin: 20px 0px;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-size: 28px;
}

.bg-front-card-inter .cardholder-name {
  display: flex;
  justify-content: space-between;
}

.bg-front-card-inter .cardholder-name p {
  font-size: 16px;
}

.bg-back-card {
  float: right;
}

.bg-front-card {
  border-radius: 15px;
  background-image: url("/images/bg-card-front.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px 5px;
}

.bg-back-card {
  border-radius: 15px;
  background-image: url("/images/bg-card-back.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px 5px;
}

.bg-back-card p {
  display: inline;
  position: relative;
  top: 107px;
  left: 365px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 475px;
  margin: 24px;
}

form label {
  color: hsl(278, 68%, 11%);
  margin: 5px;
  font-size: 14px;
}

form input::placeholder {
  color: hsl(279, 6%, 55%);
}

form input {
  color: hsl(278, 68%, 11%);
  outline: none;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
}

form input:focus {
  border: 1px solid;
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-image-slice: 1;
}

#cardholder-name, #card-number {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.leyend {
  font-size: 12px;
  margin: 5px;
}

.down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.down .cvc input {
  width: 180px;
}

.inputs-exp-date input {
  width: 64px;
}

button {
  border: 0px;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  background-color: hsl(278, 68%, 11%);
  padding: 10px 15px;
  margin: 5px;
}

button:active {
  border: 0px;
  background: rgb(24, 115, 113);
}
