@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

@media screen and (width>=1000px) {
  body {
    width: 100%;
    height: 100vh;
    background-image: url("/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 34vw 100%;
    transition: 0.3s;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .card-image-desktop {
    margin: 24px;
  }

  .bg-front-card {
    background-image: url("/images/bg-card-front.png");
    width: 447px;
    height: 245px;
    margin: 24px;
    float: left;
    transition: 0.5s;
  }

  .bg-back-card {
    background-image: url("/images/bg-card-back.png");
    width: 447px;
    height: 245px;
    margin: 24px;
    float: right;
    transition: 0.5s;
  }

  .bg-front-card,
  .bg-front-card img,
  .card-number,
  .cardholder,
  .bg-back-card p {
    position: relative;
  }

  .cardholder p,
  .bg-back-card p {
    font-size: 0.89em;
  }

  .bg-front-card img {
    top: 25px;
    left: 25px;
  }

  .card-number {
    word-spacing: 5px;
    letter-spacing: 3px;
    bottom: -60px;
    margin: 25px;
    font-size: 1.55em;
  }

  .cardholder {
    display: flex;
    justify-content: space-between;
    bottom: -60px;
    margin: 25px;
  }

  .bg-back-card p {
    display: inline;
    top: 109px;
    left: 365px;
  }

  form {
    margin: 24px;
  }
}

@media screen and (width>= 375px) and (width < 1000px) {
  body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 40px;
    background-image: url("/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    transition: 0.3s;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .bg-front-card,
  .bg-back-card {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 54.81%;
    transition: 0.5s;
  }

  .bg-front-card {
    background-image: url("/images/bg-card-front.png");
    z-index: 2;
    top: 118px;
    right: 10%;
  }

  .bg-back-card {
    background-image: url("/images/bg-card-back.png");
    z-index: 1;
    top: -206px;
    left: 10%;
  }

  .bg-front-card img,
  .card-number,
  .cardholder,
  .bg-back-card p {
    position: relative;
  }

  .cardholder p,
  .bg-back-card p {
    font-size: 0.78em;
  }

  .bg-front-card img {
    top: 25px;
    left: 25px;
  }

  .card-number {
    word-spacing: 5px;
    letter-spacing: 3px;
    bottom: -33px;
    margin: 25px;
    font-size: 1.28em;
  }

  .cardholder {
    display: flex;
    justify-content: space-between;
    bottom: -33px;
    margin: 25px;
  }

  .bg-back-card p {
    display: inline;
    top: 90px;
    left: 305px;
  }

  form {
    margin: 12px;
  }
}

@media screen and (width <= 426px) and (width>=400px) {
  body {
    background-size: 100vw 30vh;
  }

  .bg-front-card {
    top: 90px;
  }

  .bg-front-card img {
    top: 15px;
    left: 15px;
  }

  .cardholder p,
  .bg-back-card p {
    font-size: 0.48em;
  }

  .card-number,
  .cardholder {
    bottom: -54px;
    margin: 15px;
    font-size: 1.1em;
  }

  .bg-back-card p {
    top: 72px;
    left: 266px;
  }
}

@media screen and (width>= 375px) and (width<=400px) {
  body {
    background-size: 100vw 30vh;
  }

  .bg-front-card {
    top: 90px;
  }

  .bg-front-card img {
    top: 15px;
    left: 15px;
  }

  .cardholder p,
  .bg-back-card p {
    font-size: 0.48em;
  }

  .card-number,
  .cardholder {
    bottom: -17px;
    margin: 15px;
    font-size: 1.1em;
  }

  .bg-back-card p {
    top: 64px;
    left: 245px;
  }
}

.bg-front-card img {
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  max-width: 450px;
  padding: 5px;
}

.card-image-desktop {
  max-width: 642px;
}

.bg-front-card,
.bg-back-card {
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px 5px;
}

form label {
  display: block;
  color: hsl(278, 68%, 11%);
  margin: 5px;
  font-size: 0.78em;
}

form input::placeholder {
  color: hsl(279, 6%, 55%);
}

form input {
  color: hsl(278, 68%, 11%);
  outline: none;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
}

form input:focus {
  border: 1px solid;
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-image-slice: 1;
}

.leyend {
  font-size: 0.67em;
  margin: 5px;
}

.down {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: auto;
}

.exp-date,
.cvc {
  width: 50%;
}

.down div input {
  box-sizing: border-box;
}

.cvc input {
  width: 95%;
}
.exp-date input {
  max-width: 40%;
}

#cardholder-name,
#card-number {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  border: 0px;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  background-color: hsl(278, 68%, 11%);
  padding: 10px 15px;
  margin: 5px;
}

button:active {
  border: 0px;
  background: rgb(24, 115, 113);
}
